.with-margin {
  margin-bottom: 10px;
}
.hidden {
  display: none !important;
}
.alrt-success {
	display:table;
	border-radius: 10px;
    background: #0080c0;
    padding: 20px; 
    height: 25px; 
    margin-bottom: 10px;
    text-align: justify;
}
.alrt-failure {
	display:table;
	border-radius: 10px;
    background: #ff80c0;
    padding: 20px; 
    height: 25px; 
    margin-bottom: 10px;
    text-align: justify;
}
.alrt-message {
	display:table;
	border-radius: 10px;
    background: #26bb4b;
    padding: 20px; 
    height: 25px; 
    margin-bottom: 10px;
    text-align: justify;
}
span{
	display: table;
    vertical-align: middle;
}
