.blue-square-container {
    text-align: center;
    padding: 2.5% 2.5% 2.5% 2.5% ;
  }
  
  .blue-square {
    text-align: left;
    background-color:#0074D9;
    display: inline-block;
    padding: 1% 1% 1% 1%;
  }

  
